body {
  position: relative;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}


// ----------------------------------------
// header
// -----------------------------------------
header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  // ロゴ
  .main-log {
    a {
      display: block;
      width: 180px;
    }
  }

  // ナビメニュ−
  #nav {
    position: fixed;
    top: 50px;
    left: -300px;
    z-index: 20;


    .menu-list {
      margin: 0 40px;
      list-style-type: none;

      li {
        margin-bottom: 40px;

        a {
          font-weight: bold;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .btn-list {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    // メニューボタン
    .menu-btn {
      padding-top: 5px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 11;
  
      span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000;
        transition: all .8s;
      }

      span:nth-child(2) {
        margin-top: 10px;
      }
  }

  .sidebar-btn .material-icons {
    font-size: 40px;
    cursor: pointer;

    &.open {
      background: #9f9f9ff7;
      border-radius: 5px;
      color: #fff;
      transition: .3s;
    }
  }

  }

  #mask {
    display: none;
  }

}

// ------------------------------------------
// メニューバー開いた時の挙動
// ------------------------------------------
.open {
  #nav {
    top: 80px;
    left: 0px;
  }

  #mask {
    display: block;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
  }

  .menu-btn span {

    &:nth-child(1) {
      transform: translateY(4px) rotate(-45deg);
    }

    &:nth-child(2) {
      transform: translateY(-8px) rotate(45deg);
    }
  }

}

// ----------------------------------------------
// main
// ----------------------------------------------

main {
  
  #top-menu {
    margin-top: 120px;
    margin-bottom: 140px;

    .page-title {
      font-size: 1.2rem;
      font-weight: normal;
      margin-bottom: 30px;
    }

    .top-menu-container {
      display: flex;
      flex-wrap:wrap ;
    }
  }

  

  // 隠しサイドバー
  .overlay {
    display: none;
    background: #000;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 20;
  }

  #sidebar {
    position:fixed;
    left: -200px;
    top: 0px;
    bottom: 0;
    width: 200px;
    background-color: #747272;
    transition: all .3s;
    z-index: 50;
    
    li {
      list-style: none;
      margin: 40px 0 30px 30px;
      
      a {
        font-weight: bold;
        text-decoration: none;
        color: #fff;
      }
    }
  }
  
  // aboutコンテンツ
  .about-container {
    width: 600px;

    p {
      margin-bottom: 30px;
    }
  }
}

// -----------------------------------
// footer
// ----------------------------------
#footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;

  @media(max-width:900px) {
    flex-direction: column;
  }

  .links {
    display: flex;
    list-style-type: none;

    li {
      margin-right: 30px;

      a {
        display: inline-block;
        text-decoration: none;
        color: #000;

        &:hover {
          border-bottom: 1px solid #000;
        }
      }
    }
  }

  .copyright {
    font-size: 0.8rem;
  }
}

